<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="col-md-8">
      <h3>
        <%= page_entries_info @microposts %>
      </h3>
      <ol class="microposts">
        <% @microposts.reverse_each do |micropost| %>
          <%= render partial: 'microposts/micropost', locals: { micropost: micropost } %>
        <% end %>
      </ol>
      
      <%= paginate @microposts %>
      
    </div>
  </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Microposts</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>