<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Help", '#' %></li>
  <li><%= link_to "Users", '#' %></li>
  <li><%= link_to "Profile", current_user %></li>
  <li><%= link_to "Settings", edit_user_path(current_user) if logged_in? %></li>
  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  <li><%= link_to "Log in", login_path %></li>
  <li><%= link_to "Sign up", signup_path %></li>
</ul>


<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Microposts</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
