<div class="row">
  <div class="col-md-4">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-tabs nav-justified">
    	<li role="presentation" class="tabmenu active" id="feed">
    	  <%= link_to I18n.t('users.micropost_list.feed.tab_name'), feed_path(:id=>@user.id), remote: true %>
    	</li>
    	<li role="presentation" class="tabmenu" id="microposts">
    	  <%= link_to I18n.t('users.micropost_list.micropost.tab_name'), microposts_path(:id=>@user.id), remote: true %>
    	</li>
    	<li role="presentation" class="tabmenu" id="following">
    	  <%= link_to I18n.t('users.micropost_list.following.tab_name'), following_path(:follower_id=>@user.id), remote: true %>
      </li>
    	<li role="presentation" class="tabmenu" id="followers">
    	  <%= link_to I18n.t('users.micropost_list.followers.tab_name'), followers_path(:followed_id=>@user.id), remote: true %>
      </li>
    </ul>
    <div id="follow_list">
      <%= render 'feed_list' %>
    </div>
  </div>
</div>

<script>
  $(".nav_menu").removeClass("active");
  <% if current_user == @user %>
    $("#my_page").addClass("active"); 
  <% else %>
    $("#other_page").removeClass("hidden").addClass("active"); 
  <% end %>
</script>