<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <%= I18n.t('users.micropost_list.posted') + time_ago_in_words(micropost.created_at) + I18n.t('users.micropost_list.ago') %>
    <%= render 'shared/retweet_form', micropost: micropost  %>
  </span>
</li>